{% extends "school/base.html" %}
{% block list-block %}
  <div class="card bg-primary text-white">
    <div class="card-header table-header container-fluid">
      <div class="row">
        <div class="col-md-10"><h4 class="">Students rewards</h4></div>
      </div>
    </div>
  </div>
  <table class="table">
    <thead>
    <tr>
    <tr>
      <th scope="col">Teacher Name</th>
      <th scope="col">Student Name</th>
      <th scope="col">Star</th>
    </tr>
    </thead>
    <tbody>
    {% for teacher in teachers %}
      <tr>
        <td style="" rowspan="{{ teacher.student.count }}">{{ teacher.first_name }} {{ teacher.last_name }}</td>
        {% for relation in teacher.studentteacherrelation_set.all %}
          <td>
            {{ relation.student.first_name }} {{ relation.student.last_name }}
          </td>
          <td>
            <a class="btn {% if relation.is_starred %}btn-warning{% else %}btn-secondary{% endif %} star-button" role="button"
               data-url="/teacher/{{ teacher.id }}/reward/student/{{ relation.student.id }}/{% if relation.is_starred %}remove{% else %}add{% endif %}/">
              <i class="fas fa-star"></i>
            </a>
          </td>
      </tr>
        {% endfor %}
    {% endfor %}
    </tbody>
  </table>
{% endblock %}

{% block end-script-block %}
  <script>
      /*
      * Call Reward API when star button is clicked to changes status.
      * */
      $('.star-button').click(function (el){
          let button = $(el.currentTarget);
          let baseUrl = window.location.origin;
          let url = baseUrl + button.data('url');
          $.ajaxSetup({
              headers: {
                  'Content-Type': 'application/json',
                  'Accept': 'application/json',
                  "X-CSRFToken": getCookie("csrftoken")
              }
          });
          $.post(url, {}, function (data, status){
              location.reload();
          });
      });
  </script>
{% endblock %}
