{% extends "school/base.html" %}

{% block list-block %}
<h3>List of Teachers</h3>
<table class="table table-striped">
  <thead>
  <tr>
    <th scope="col">First Name</th>
    <th scope="col">Last Name</th>
    <th scope="col">Subject</th>
    <th scope="col">Students</th>
  </tr>
  </thead>
  <tbody>
  {% for teacher in object_list %}
  <tr>
    <td scope="row">{{ teacher.first_name }}</td>
    <td>{{ teacher.last_name }}</td>
    <td>{{ teacher.subject }}</td>
    <td>
    {% for student in teacher.student.all %}
    {{ student.first_name }},
    {% endfor %}
    </td>
  </tr>
  {% endfor %}
  </tbody>
</table>

<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#addTeacherModal" >Add New Teacher</button>

{% include "school/create-modal.html"  with modal_name="addTeacherModal" modal_header="Add Teacher" %}
{% endblock %}
