{% load static %}
<!doctype html>
<html lang="en">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="{% static 'school/style.css' %}">

  <title>SCHOOL APP</title>
</head>
<body>
<div class="container">
  <nav class="navbar navbar-light bg-light">
    <a class="navbar-brand" href="#">
      <img src="{% static "school/education.svg" %}" width="30" height="30" class="d-inline-block align-top" alt="" loading="lazy">
      SCHOOL APP
    </a>
  </nav>

  <nav>
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a id="student-tab" class="nav-link" href="/student/">Student</a>
      </li>
      <li class="nav-item">
        <a id="teacher-tab" class="nav-link" href="/teacher/">Teacher</a>
      </li>
    </ul>
  </nav>
  {% block list-block %}{% endblock %}

</div>


<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
<script>
    $(document).ready(function(){
        {# Logic to set "active" class when page changes #}
        $('nav a').on('click', function(e) {
            $( 'nav' ).find( 'li.active' ).removeClass( 'active' );
            localStorage.setItem('activeTab', $(e.target).attr('id'));
        });
        let activeTab = localStorage.getItem('activeTab');
        if(activeTab){
            $('#' + activeTab ).addClass("active");
        }

        {# Show modal when detail page is called #}
        let url_array = window.location.pathname.replace(/\/$/, "").split("/");
        let url_id = url_array[url_array.length-1];
        let url_name = url_array[url_array.length-2];
        let modal_name = null;
        if(url_name === "student") {
            modal_name = "#addStudentModal"
        }
        else if(url_name === "teacher") {
            modal_name = "#addTeacherModal"
        }
        if (url_id != null || modal_name != null){
            $(modal_name).modal("show");
        }

        {#  When modal closed redirect back to list page  #}
        $(modal_name).on('hide.bs.modal', function(){
            window.location.href = '/'+ url_name + '/';
        });

        {# Delete modal should get ID from list table #}
        $('#deleteModal').on('show.bs.modal', function (event) {
            let button = $(event.relatedTarget);
            $('#deleteModal form').attr("action", button.data('url'));
        });

    });
</script>

</body>
</html>
