{% extends "school/base.html" %}

{% load static %}

{% block list-block %}
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="card bg-primary card-counter text-white">
          <i class="fa fa-users"></i>
          <span class="count-numbers" id="numStudent"></span>
          <span class="count-name">Students</span>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card bg-danger card-counter text-white">
          <i class="fa fa-graduation-cap"></i>
          <span class="count-numbers" id="numTeacher"></span>
          <span class="count-name">Teachers</span>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card bg-success card-counter text-white">
          <i class="fa fa-star"></i>
          <span class="count-numbers" id="numStar"></span>
          <span class="count-name">Stars</span>
        </div>
      </div>
    </div>
  </div>
  <div class="container dashboard-background">
  <img src="{% static "school/school-bg.png" %}">
  </div>
{% endblock %}

{% block end-script-block %}
  <script>
      /*
      * Call Stats API to load data into cards..
      * */
      $(document).ready(function (el){
          let baseUrl = window.location.origin;
          let url = baseUrl + "/dashboard/stats/";
          $.get(url, function (data, status){
              let numStudent = data.students;
              let numTeacher = data.teachers;
              let numStar = data.stars;
              $('#numStudent').append(numStudent);
              $('#numTeacher').append(numTeacher);
              $('#numStar').append(numStar);
          });
      });
  </script>
{% endblock %}

